@model GestaoSaudeIdosos.Web.ViewModels.DashboardViewModel
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1 class="text-danger">Erro.</h1>
    <h2 class="text-danger">Ocorreu um erro ao processar sua solicitação.</h2>
</div>